<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create A new khata</h1>
    <form action="/create" method="post">
        <textarea name="input" placeholder="Write AnyThing"></textarea>
        <input type="submit">
    </form>
</body>
</html>